body {background-color: black;
    margin: 250px;}
    #container {
        width: 396px;
        height: auto;
        background-color: rgb(236, 231, 223);
        margin: auto;
        text-align: center;
        border: 2px solid
    }
    
    
    h1 {text-align: center;
    margin: 2px;
    color: white;}
    
    div{
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    }
    
    
    table {
    
    margin: 1px;
    margin-right:1px;
    border: 2px solid;
    padding: 2px;
    }